h1{
    text-align: center;
}

h4{
    text-align: center;
}

h3{
    text-align: center;

}

p{
    line-height: 30px;
    text-align: center;
    color:  red;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: rgb(0,255,0);
    text-decoration: none;
}

button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color: blue;
}