h3{
    background-color: blue !important;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

h3,h1{
    color: #b92b27;
    background-color: blue;
}

#login{
    background-color: white;
}

#signup{
    background-color: #b92b27;
    color: white;
}

.upvote
{
    background-color: green;
}

p a{
    background-color: yellow;
}


nav ul li a
{
    color: hotpink;
}


p + h3{
    text-decoration: underline;
}


.upvote + button
{
  background-color: lightblue;  
}

div > input
{
            background-color: darksalmon;
}

input[type="text"]
{
    color: red;
}

input[type="password"]
{
    color: green;
}


input[type]{
    background-color: ghostwhite;
}


button:hover
{
    color: white;
    background-color: black;
}

button:active
{
    background-color:  Yellow;
}

p:active{
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}


div:nth-of-type(n)
{
    background-color: blanchedalmond;
}

p::selection
{
    color: red;
}




